@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
*,*:focus,*:hover{
    outline:none;
}
:root {
	--primary: #555BFF;
	--secondary: #22D2A0;
	--background: white;
	--green: #1FC11B;
	--yellow: #FFD913;
	--orange: #FF9C55;
	--red: #FF5555;
  } 
body {
	font-family: 'DM Mono', monospace;
	background: none;
}
.CommunityService{
	display: none;
}
.information-panel{
	display: none;
}
/* START GENERAL CARD RELATED CSS */
.card-body {
	background-color: #ffffff;
	color: rgb(0, 68, 255);
	font-size: 15px;
	font-weight: 500;
	/*border-radius: 20px;*/
}
.menutitle {
	color: #2f3037;
	font-weight: 600;
	font-size: 28px;
}
input {
	border-radius: 10px !important;
	height: 53px;
	background-color: #eeeff3 !important;
	border: none !important;
	font-weight: 500 !important;
}
input:focus {
	box-shadow: none !important;
	color: #212529;
}
input[type=number]::-webkit-inner-spin-button {
	opacity: 0;
}
.input-group-text {
	background-color: #eeeff3 !important;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 500;
}
.form-control {
	background-color: #eeeff3;
}
.input-group{
	padding-top: 20px;
}

/*Styling Selectbox*/
.dropdown {
	background-color: #eeeff3 !important;
	border-radius: 10px;
	transition: all .5s ease;
	color: #686c6e;
	cursor: pointer;
	display: block;
	text-align: left;
	height: 53px;
	width: 100%;
}
.dropdown .select .title{
	height: 53px;
	padding-top: 17px;
	padding-left: 10px;
	padding-left: 10px;
	width: 90%;
	float: left;
}
.dropdown .select .title.selected{
	color: black;
}
.dropdown .select #chevron {
	width: 10%;
	margin-top: 20px;
	color: rgb(51, 51, 51);
}
.dropdown:hover {
	box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
	background-color: #f8f8f8
}
.dropdown.active:hover, .dropdown.active {
	box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #eeeff3;
}
.dropdown.active .select > #isaret {
	transform: rotate(-90deg);
}
.dropdown > .dropdown-menu {
	position: absolute;
	background-color: #eeeff3;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
	padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
	padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
	background-color: #cecece;
}
.dropdown .dropdown-menu li:active {
	background-color: #cecece;
}

/* INFORMATİON PANEL */
.information-panel{
	background-color: rgba(20, 20, 20, 0.5);
	width: 200px;
	border: 3px solid var(--secondary);
	border-radius: 16px;
	padding: 10px;
	margin: calc(50vh - 30px) auto 0 auto;
	transition: box-shadow 1s, top 1s, left 1s;
	font-family: "Archivo", sans-serif;
	margin-right: 8px;
	margin-top: 8px;
}
.information-panel p {
	color: var(--yellow);
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}
.information-panel h2 {
	color: var(--background);
	font-size: 15px;
	font-family: "Archivo Black", "Archivo", sans-serif;
	font-weight: normal;
  }
/* START BUTTONS */
.btn {
	font-weight: 500;
	font-size: 16px;
	padding: 13px 17px;
	border: none;
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	transition: color 0.2s linear, background-color 0.2s linear;
	letter-spacing: 0.2px;
}

.btn.btn-blue {
	background-color: #1f5eff;
	color: #e6e6e6;
}

.btn.btn-blue.btn-border {
	border-color: #1f5eff;
	color: #1f5eff;
}

.btn.btn-blue.btn-3d {
	box-shadow: inset 0 -2px 0 #0a4df9;
}

.btn.btn-blue:hover {
	background-color: #0a4df9;
	color: #e6e6e6;
}

.btn:focus {
	box-shadow: none;
}

.btn-close {
	background-color: #fff;
	border-radius: 5px;
	opacity: .75;
	position: absolute; 
	right: 5px; 
	top: 5px;
}

.btn-close:hover {
	opacity: 1;
}
.btn-close:focus {
	box-shadow: none;
}